<div class="row beerInformation">
					<div class="col-md-6">
						Beer Name: 
					</div>
					<div class="col-md-6">
						<div id="beerName">{{beer_name}}
						</div>
					</div>
				</div>

				<div class="row beerInformation">
					<div class="col-md-6">
						Brewery Name:
					</div>
					<div class="col-md-6">
						<div id="beerBrewery">{{brewery}}
						</div>
					</div>
				</div>
		
				<div class="row beerInformation">
					<div class="col-md-6">
						Address:
					</div>
					<div class="col-md-6">
						<div id="beerAddress">
						<p>{{location_name}}</p>
						<p>{{streetAddress}}</p>
						<p>{{city}}, {{state}} {{zipCode}}</p>
						<p>{{website}}</p>
						</div>
					</div>		
				</div>
			</div>

			<div class="col-md-4">
				<div id="beerContainer">
				  <div class="glass">
				    <div class="beer"></div>
				  </div>
				  <div class="head"></div>
				  <div class="hideB"></div>
				  <div class="pour"></div>
				</div>
			</div>

			<div class="col-md-4">
				<h2>Beer Traits</h2>
				
				<div class="row beerTraits">
					<div class="col-md-6">
						SRM:
					</div>
					<div class="col-md-6">
						<div id="srm">{{srmID}}
						</div>
					</div>
				</div>

				<div class="row beerTraits">
					<div class="col-md-6">
						IBU:
					</div>
					<div class="col-md-6">
						<div id="ibu">{{ibu}}
						</div>
					</div>
				</div>
		
				<div class="row beerTraits">
					<div class="col-md-6">
						ABV:
					</div>
					<div class="col-md-6">
						<div id="abv">{{abv}}
						</div>
					</div>		
				</div>